// Colors
$bg-green: #00afbc;
$gray: #f7f7f7;
$white: #fff;
$black: #000;
$dark-black: #262626;
$light-black: #d7d7d7;
$medium-black: #464646;
$red: red;
$green: green;

// Font Family
$cambo: 'Cambo', serif;
$courgette: 'Courgette', cursive;
$asap: 'Asap Condensed', sans-serif;

// Font Weight
$f400: 400;
$f700: 700;

// Position
$relative: relative;
$absolute: absolute;

// Width
$w50: 50%;
$w100: 100%;

// Alignments
$left: left;
$right: right;
$center: center;

// Others
$border-box: border-box;